/* for visual testing purposes only */
header {
  background-color: azure;
}
main {
  background-color: rgb(196, 250, 250);
}
footer {
  background-color: rgb(153, 250, 250);
}

/* Styling */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
