@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@600&display=swap');

footer {
  margin-top: 4rem;
}

/* Styling */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f2f2fc;
}

main {
  flex: 1 0 auto;
}

.title {
  font-family: Playfair, 'Times New Roman', Times;
  color: #332a7c;
}

p {
  font-family: Open Sans, 'Times New Roman', Times;
}

/* Navigation Bar */
nav {
  background-color: #ffff;
  padding: 10px 15px;
  height: 85px;
  margin-bottom: 2rem;
}

.nav-logo {
  font-family: Open Sans !important;
  padding: 10px;
}

nav a {
  color: #332a7c !important;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 50px;
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: orange;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}


/* Team Page */
.team-page {
  max-width: 1100px;
  margin: auto;
  padding: 10px;
}

.team-cards-row {
  padding: 20px, 30px !important;
  margin: 20px;
}

.team-card img{
  border-radius: 50% !important;
  padding: 20px;
}

.team-card i {
  padding: 10px;
}

.team-card, .card-panel {
  border-radius: 15px;
}

.shadow {
  box-shadow: 5px 10px #342a7c38;
}

.team-card span {
  min-height: 65px;
}

.team-card a {
  color: #332a7c !important;
  margin: 0px !important;
}



/* Index Page */
.bucketimg {
  object-fit: contain;
  height:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-blue {
  color: fff;
  background: #332a7c;
  border-radius: 35px;
}

.btn-red {
  color: fff;
  background: #7c2a2a;
  border-radius: 35px;
}

.currency-convertor {
  padding: 2rem;
  border-radius: 15px;
}

#spending, #sample {
  margin: auto;
}